
* {
  font-family: "Proxima Nova", "Roboto";
  
}

html {
  height: 100%;
}
body {
  height:100%;
  margin: 0;
  background-image: linear-gradient(rgb(17, 13, 13), rgb(41, 38, 38))  ;
  background-repeat: no-repeat;
  background-attachment: fixed ;
}

.App {
  text-align: center;
  background-color: rgb(7, 15, 20)50, 115, 115);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loader {
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

.container {
  margin-left: 20%;
  color:white;
  width: 80%;
  left: 20%;
  font-size: calc(10px + 2vmin);
}


.sidebar {
  width: 20%;
  top: 0px;
  left: 0px;
  bottom: 0px; 
  background-image: linear-gradient(rgb(49, 44, 44), black);
  
}

.sidebar .logo {
  padding: 20px 20px;
}

.sidebar .logo img {
  height:40px;
}

.sidebar .nav {
  padding: 0px;
}

.sidebar .nav li {
   display: flex;
   flex-direction: row;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 15px;
   color: grey;
   
}


.nav-item {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.active-li {
  color: rgb(41, 168, 29);
}

.li-icon{
  padding-right: 12px ;
}
.spot-button {
  box-shadow: 0px 0px 0px 0px #24c21b;
	background-color:#12eb4c;
	border-radius:28px;
	border:1px solid #21eb35;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 31px;
  text-decoration:none;
  

}
.spot-button:hover {
  background-color:#32e028;
}
.spot-button:active {
  position:relative;
	top:1px;
}

#search {
  border-top: rgb(70, 68, 68) 0.5px solid;
  border-bottom: rgb(70, 68, 68) 0.5px solid;
}

#local-playlist {
  border-bottom: rgb(70, 68, 68) 0.5px solid;
}






.login-container {
  
  color: white;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px; 
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(rgb(17, 13, 13), rgb(41, 38, 38))  
}

.button-login {
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button-login:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.button-login:active {
	position:relative;
	top:1px;
}

.now-playing {
  font-size: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.song-desc{
  padding: 2px 16px;
  
}



.cards-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}



.card {
  
  margin: 10px 0;
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;  
  background-color: #333131;
  background-size: cover;
  text-align: left;
}

.card .card_image {
  width: inherit;
  height: inherit;
}

.card .card_image img {
  width: 100%;
  height: 100%;
 
  
}

.card .card_title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  
}

.card:hover {
  transform: scale(0.9, 0.9);
  
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


.input-search {
  width: 100%;
  border-radius: 40px;
  background-color: white;
}

.input-search input{
  width: 70%;
  border: none;
  padding: 12px 20px;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.button-search {
  float:left;
}

.user-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-left:auto;
  margin-right: 5%;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: black;

}

.user-icon {
  color:grey;

}

.playlist-detail-container {
  display: flex;
  align-items: center;
  justify-content: baseline;
  background-image: linear-gradient(rgb(104, 100, 104), rgb(36, 34, 34))  ;
}

.playlist-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  float: left;
}

.playlist-img{
  width: 250px;
}

.playlist-info-wrapper{
  margin-left: 20px;
   width: 70%;
  text-align: left;
  float: left;
}

.playlist-info-wrapper h1 {
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  margin: 20px 0;
}
 
.playlist-info-wrapper h4 {
 line-height: 20px;
 margin:2px;
 font-size:15px;
 color: rgb(228, 226, 220)
}



.playlist-tracks-wrapper ul li{
  padding: 16px 16px;
  width:93%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  opacity: 0.8;
  transition: 0.3s;

  
}

.li-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlist-tracks-wrapper ul li h2{
  margin: 0;
  padding:0;
  font-size:15px;
  font-weight: bold; 
}

.playlist-tracks-wrapper ul li h4{
  margin: 0;
  padding:0;
  font-size:13px;
  font-weight: bold; 
  color: grey;
} 
.playlist-tracks-wrapper ul li:hover{
  opacity: 1;
  background-image: linear-gradient(rgb(29, 25, 29), rgb(41, 38, 38))  ;
  color:rgb(61, 212, 47);
}




@media  only screen and (max-width: 600px){
  .sidebar {
    width: 90px;
    top: 0px;
    left: 0px;
    bottom: 0px; 
  }

  .cards-list { 
    grid-template-columns: repeat(1,1fr);
    width: 85%;
  }

}


@media  only screen and (max-width: 768px){

  .cards-list { 
    grid-template-columns: repeat(1,1fr);
  }
}