

body{
    margin: 0px;
    padding: 0px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.fixed{
    position: fixed;
}

.flex {
    display: flex;
}

.bl {
    display : block;
}

.noul {
    text-decoration: none;
}